{% extends 'my_project/base.html' %} 

{% block content %}
<div class="container top" style="background-color:rgb(144, 233, 228)">
 
    <div class="jumbstron">
        
        
            {% for image in image_posts %}
            <div class="home-images">
                <p class="home-text">
                    <a href="{% url 'profile' %}">{{image.profile.username}}</a>
                </p>
            <div class="col-md-4" style="margin-bottom: 30px" >
                <img src="{{image.image.url}}" style="width: 250px; height: 250px;" alt="Image">
              
                <ul class="list-inline home-list">
                    <li class="list-inline-item">
                        <a href="{% url 'profile' %}">{{image.profile.username}}</a>
                    </li>
                    <div class="well" style="color: rgb(21, 72, 180)">
                    <li class="list-inline-item">
                    {% autoescape on %}
                        <p>{{image.image_caption|safe}} </p>
                        <!-- <p>likes:<button class="btn btn-primary">{{image.likes|safe}} </button></p> -->
                        <strong>Description: </strong>{{image.description|safe}}
                        <br>
                        <strong>Link: </strong><a href="{{image.link|safe}}">{{image.link|safe}}</a>  
                    {% endautoescape %}
                    </div>
                    </li>
                </ul>
                
                </div>
            </div>
        
        
            {% empty %}
            <h2>No images. Please Follow some people to see their images</h2>
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}
